*{
	padding: 0;
	margin: 0;
	border-width: 0;
}
.content{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-box{
	z-index: 1;
	width: 740px;
	height: 140px;
	position: relative;
	border: 1px solid #333333;
	transform-origin: center;
	transform: rotate(180deg) rotateX(180deg);
}
.stars1,.stars2{
	position: absolute;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	display: flex;
}
.stars1{
	top: 50%;
	left: 50%;
	gap: 10px;
	z-index: 2;
}
.stars1>div{
	width: 140px;
	height: 140px;
	background-color: rgb(228, 186, 66);
	clip-path: polygon(50% 0,65% 40%, 100% 40%,72% 60%,85% 100%,50% 75%,15% 100%,28% 60%,0 40%,35% 40%);
}
.stars2{
	z-index: 4;
	top: 50%;
	left: 50%;
	gap: 10px;
}
.box-out{
	position: relative;
	z-index: 6;
	background-color: transparent;
	width: 140px;
	height: 140px;
	clip-path: polygon(50% 0,65% 40%, 100% 40%,72% 60%,85% 100%,50% 75%,15% 100%,28% 60%,0 40%,35% 40%);
}
.box-in{
	transition: 1s;
	transition-duration: 1s;
	transform-origin: right center;
	position: absolute;
	top: 20%;
	left: 18%;
	background: linear-gradient(-90deg,white 50%,white 50%);
	z-index: 5;
	/*width: 90px;*/
	height: 90px;
	border-left: 45px solid white;
	border-right: 45px solid white;
	clip-path: polygon(50% 0,65% 40%, 100% 40%,72% 60%,85% 100%,50% 75%,15% 100%,28% 60%,0 40%,35% 40%);
}
/*.box-in:nth-of-type(1){*/
/*	background-color: white;*/
/*}*/
/*.box-in:nth-of-type(2){*/
/*	background-color: rgb(20, 120, 174);*/
/*	width: 91px;*/
/*	height: 91px;*/
/*	transform: rotateY(90deg);*/
/*	transition: 1s;*/
/*}*/
.box-out:nth-of-type(n):hover ~ div>.box-in{
	transition: border 1s;
	border-left: 45px solid rgb(228, 186, 66);
	border-right: 45px solid rgb(228, 186, 66);
	/*border-left: 90px solid rgb(228, 186, 66);*/
	/*border-right: 0;*/
	/*animation: star-ok 1s linear forwards;*/
	/*background: linear-gradient(-90deg,rgb(228, 186, 66) 50%,rgb(228, 186, 66) 50%);*/
}
.box-out:nth-of-type(n):hover > .box-in:nth-of-type(1){
	transition: border 1s;
	border-right: 45px solid rgb(228, 186, 66);
	border-left: 45px solid rgb(228, 186, 66);
	/*border-left: 45px solid rgb(228, 186, 66);*/
	/*border-right: 45px solid white;*/
	/*animation: star-half 1s steps(2) forwards;*/
	/*background: linear-gradient(-90deg,rgb(228, 186, 66) 50%,white 50%);*/
}
@keyframes star-ok {
	0%{
		background: linear-gradient(-90deg,rgb(228, 186, 66) 0%,white 100%);
	}
	50%{
		background: linear-gradient(-90deg,rgb(228, 186, 66)50%, white 50%);
	}
	100%{
		background: linear-gradient(-90deg,rgb(228, 186, 66) 100%,white 0%);
	}
}
@keyframes star-half {
	0%{
		background: linear-gradient(-90deg,rgb(228, 186, 66)0%, white 100%);
	}
	100%{
		background: linear-gradient(-90deg,rgb(228, 186, 66)100%, white 0%);
	}
}